<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<style>
  .social a.idf{background:url('/images/social/idf.png?1333129285') center no-repeat #587ead;border:1px solid #587ead}#sub-nav .social a.idf:hover{border:1px solid #587ead}
</style>
